{% extends "personal/header.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Writing</title>
</head>
<body>
<h4>A Songbook for Cats</h4> </br>
  A book of cat friendly songs 'A Songbook for Cats', you can download it for free   <a href="{%static 'CatsSongbook.pdf'%}" target="_blank">here</a>. Please donate if you like it  
<a href="https://www.paypal.me/KRitchie">here.</a>

</body>
</html>
{% endblock %}
